@keyframes shake_hover{
    0%{
        transform:translateX(80%) rotate(15deg);
    }
    50%{
        transform:translateX(80%) rotate(-15deg);
    }
    100%{
        transform:translateX(80%) rotate(0deg);
    }
}

@keyframes gear_rotating{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(180deg);
    }
}