/* ============ GLOBAL ============ */
.show{
    display:block;
}

input:focus{
    background:rgba(255,255,255,0.7);
    outline:2px solid var(--color-primary);
}

.divisor{
    margin:10px 0;
}

/* ============ BUTTON ============ */
.btn{
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--color-third);
    width:40px;
    height:40px;
    border-radius:50%;
    box-shadow:1px 1px 5px var(--color-shadow);
    font-size:1.1rem;
    text-decoration:none;
    transition:all .4s;
    cursor:pointer;
}
.btn:hover{
    box-shadow:none;
    transform:translate(2%, 2%);
}
.btn-primary{
    color:var(--color-primary);
    text-shadow: 0 1px 7px var(--color-shadow);
}

/* ============ SEARCHBAR ============ */
.search{
    display:flex;
    align-items:center;
    position:relative;
    width:380px;
    height:50%;
    border-radius:15px;
    box-shadow:1px 1px 7px var(--color-shadow);
    margin:0 10px;
}
.search input{
    width:90%;
    height:100%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    padding:5px 10px;
    background:var(--color-paper);
    border:none;
}
.magnifying-glass{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#333;
    width:50px;
    height:100%;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    cursor:pointer;
}
.magnifying-glass i{
    position:absolute;
    font-size:1em;
    color:var(--color-white);
    text-shadow:0 0 5px #000;
}
.magnifying-glass:hover i{
    animation:shake_hover .4s ease-in-out;
}
#search::placeholder{
    font-weight:bold;
    
}

/* ============ PROMOTION ============ */
.promotion-img{
    width:100%;
    height:50vh;
    margin-top:100px;
}
.promotion-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
/* ============ BODY ============ */
.body-box{
    position:relative;
}
.body__divisor{
    display:grid;
    grid-template-columns:250px 1fr;
}
.body__filter{
    background:red;
    display:flex;
    flex-direction:column;
}
.body__sidebar{
    display:flex;
    flex-direction:column;
}
.body__header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    margin:15px 0 25px;
}
.btn-filter{
    display:flex;
    justify-content:space-between;
    gap:15px;
    align-items:center;
    width:100%;
    padding:0 25px;
}
.btn__filter{
    color:#fff;
    border-radius:var(--border-radius);
    width:100%;
    height:100%;
    padding:6px;
}
.body__nav-sidebar{
    background:yellow;
}
.body__products-cards{
    background:green;
}

/* ============ FOOTER ============ */
.footer-body{
    display:flex;
    justify-content:space-between;
    padding:35px;
}
.footer__promo{
    padding:10px;
    width:200px;
    display:flex;
    flex-direction:column;
    gap:25px;
}
.footer-menu{
    list-style:none;
}
.footer__item{
    padding:5px 0;
}
.footer__item a{
    text-transform:none;
}
.footer__social{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:10px
}
.footer__iconApp{
    display:flex;
    flex-flow:column wrap;
    align-items:flex-start;
}
.footer__iconApp img{
    width:100%;
    height:70px;
}