/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./menus.css');
@import url('./components.css');
@import url('./texts.css');
@import url('./animations.css');


/* Variables */
:root {
    --color-primary:#00dfc4;
    --color-secondary:#1d2b3a;
    --color-third:#123;
    
    --color-shadow:rgba(0, 223, 196,.8);

    /* grayscale */
    --color-black:#000;
    --color-dgray:#333;

    --color-paper:#dbdbdb;
    --color-white:#fff;

    /* disabled / unfocus */
    --color-disable:#9a9a9a;
}

/* Global Settings */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:var(--color-secondary);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size:16px;
}

/* Site Settings */
header{
    background:var(--color-primary);
    position:relative;
    width:100%;
    height:100vh;
}


.headpromotion{
    height:100vh;
    width:100%;
    padding-top:70px;
    overflow:hidden;
}
.headpromotion img{
    height:100%;
    width:100%;
    object-fit:cover;
}

/* MAIN PAGE */
/* .wrapper{
    
} */
/* .main__page{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:50px;
    width:100%;
    padding:20px 40px;
    border-radius:15px;
    background:var(--color-third);
    box-shadow:0 0 5px var(--color-shadow);
} */
/* .content--cards{
    background:var(--color-paper);
    width:100%;
    height:200px;
} */

/* .card{
    background:var(--color-third);
    box-shadow:0 0 5px var(--color-shadow);
} */