/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('./menus.css');
@import url('./components.css');
@import url('./texts.css');
@import url('./animations.css');


/* ============ VARIABLES ============ */
:root {
    /* ============ COLORS ============ */
    --color-primary:#00dfc4;
    --color-secondary:#1d2b3a;
    --color-third:#123;
    --color-sucess:#008000;
    --color-danger:#F00;
    
    --color-shadow:rgba(0, 223, 196,.7);
    

    /* grayscale */
    --color-black:#000;
    --color-dgray:#333;

    --color-paper:#dbdbdb;
    --color-white:#fff;

    /* disabled / unfocus */
    --color-disable:#9a9a9a;

    /* ============ SCALES ============ */
    --border-default:10px;
    --border-input:15px;
    
    /* ============ DETAILS ============ */
    --shadow-default:0 0 15px var(--color-shadow);
    --shadow-input:1px 1px 7px var(--color-shadow);
}

/* ============ GLOBAL SETTINGS ============ */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:var(--color-secondary);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size:16px;
}
header{
    position:relative;
    width:100%;
}

/* ============ SITE SETTINGS ============ */
/* MAIN PAGE */
.wrapper{
    width:100%;
    padding:50px;
}
.wrap-login{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}