/* TEXTS */
.m-login__links{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.m-login__links p{
    display:none;
    pointer-events:none;
    letter-spacing:.2em;
    font-size:1.4rem;
}
.m-login__links a{
    display:block;
}
.m-login__links a, p{
    color:var(--color-primary);
    text-transform:uppercase;
    text-decoration:none;
    font-weight:700;
    font-size:1rem;
    text-shadow:0 0 5px var(-color--shadow);
    transition:opacity .5s;
}

/* COMPONENTS */
.m-dp-cont__alt{
    right:0;
    transform:translateY(23%);
}
.m-login__dp-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 5px 20px;
    color:var(--color-primary);
    text-transform:uppercase;
    text-decoration:none;
}
.m-login__dp-header span{
    position:absolute;
    top:40px;
    font-size:.8em;
    line-height:28px;
}
.m-login__dp-header span::before{
    content:'';
    background:var(--color-primary);
    position:absolute;
    height:1px;
    width:8px;
    left:78px;
    top:13px;
    transform-origin:bottom;
    transform:rotate(20deg);
}
.m-login__dp-header span::after{
    content:'';
    background:var(--color-primary);
    position:absolute;
    height:1px;
    width:8px;
    left:78px;
    top:16px;
    transform-origin:bottom;
    transform:rotate(-20deg);
}
.m-login__dp-header:hover i{
    animation:gear_rotating 3s infinite linear;
}