/* ============ FIXED MENU TOP ============ */
.header-info {
    display:flex;
    position:fixed;
    justify-content:space-between;
    align-items:center;
    background:var(--color-secondary);
    width:100%;
    height:70px;
    padding:0 15px;
}
.header-info__menu{
    display:flex;
    align-items:center;
    gap:15px;
}
.header__btns{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

/* ============ PRINCIPAL MENU ============ */
.navbar {
    position:relative;
    background:var(--color-third);
    box-shadow:0 3px 5px var(--color-primary);
    width:100%;
    height:55px;
    padding:15px;
}
.menu--top{
    display:flex;
    gap:20px;
}
.menu__link, .dropdown__link, .link{
    color:var(--color-primary);
    text-decoration:none;
    font-size:1.2rem;
    font-weight:600;
    transition:border .2s;
}
.menu__link:hover{
    border-bottom:5px solid var(--color-primary);
}

/* ============ DROPDOWN ============ */
.dropdown{
    display:flex;
    position:relative;
}
.dropdown__content{
    display:none;
    position:absolute;
    list-style:none;
    background:var(--color-third);
    min-width:200px;
    transform:translateY(12%);
    box-shadow:0 5px 5px rgba(0, 223, 196,.1);
    padding:12px 16px;
    border-radius:10px;
    z-index:1;
}
.dropdown:hover .dropdown__content{
    display:block;
}
.dropdown:hover .menu__link{
    border:none;
}
.dropdown__link{
    display:block;
    padding:5px;
}
.dropdown__link:hover, .m-login__dp-header:hover{
    background:rgba(0, 223, 196,.1);
    border-radius:8px;
}
.dropdown__alt{
    right:0;
    transform:translateY(23%);
}
.dropdown__header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 5px 20px;
    color:var(--color-primary);
    text-transform:uppercase;
    text-decoration:none;
}
.dropdown__header span{
    position:absolute;
    top:40px;
    font-size:.8em;
    line-height:28px;
}
.dropdown__header span::before{
    content:'';
    background:var(--color-primary);
    position:absolute;
    height:1px;
    width:8px;
    left:78px;
    top:13px;
    transform-origin:bottom;
    transform:rotate(20deg);
}
.dropdown__header span::after{
    content:'';
    background:var(--color-primary);
    position:absolute;
    height:1px;
    width:8px;
    left:78px;
    top:16px;
    transform-origin:bottom;
    transform:rotate(-20deg);
}
.dropdown__header:hover i{
    animation:gear_rotating 3s infinite linear;
}