/* ============ GLOBAL ============ */
.link{
    text-transform:uppercase;
    font-weight:700;
    font-size:1rem;
    transition:opacity .5s;
}
.link:hover{
    opacity:0.7;
    transition:opacity .2s;
}

/* ============ HEADER-INFO ============ */
.logo{
    position:relative;
}
.logo h1{
    font-size:2rem;
}
.logo > i{
    position:absolute;
    top:9px;
    left:105%;
    font-size:.8rem;
}
.logo > i::after{
    content:'';
    position:absolute;
    border:2px solid var(--color-primary);
    width:17px;
    height:11px;
    padding:4px;
    left:-5px;
    transform:translateY(-20%);
    border-radius:5px;
}

/* LOGIN AREA */
.login__links{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.login__links p{
    display:none;
    pointer-events:none;
    letter-spacing:.2em;
    font-size:1.4rem;
}
.login__links a{
    display:block;
}
.login__links a, p{
    color:var(--color-primary);
    text-transform:uppercase;
    text-decoration:none;
    font-weight:700;
    font-size:1rem;
    text-shadow:0 0 5px var(-color--shadow);
    transition:opacity .5s;
}
