/* ============ GLOBAL ============ */
.link{
    text-transform:uppercase;
    font-weight:700;
    font-size:1rem;
    transition:opacity .5s;
}
.link:hover{
    opacity:0.7;
    transition:opacity .2s;
}

/* ============ HEADER-INFO ============ */
.logo h1{
    font-size:2rem;
}

/* LOGIN AREA */
.login__links p{
    display:none;
    pointer-events:none;
    letter-spacing:.2em;
    font-size:1.4rem;
}
.login__links a{
    display:block;
}
.login__links p, a{
    color:var(--color-primary);
    text-transform:uppercase;
    text-decoration:none;
    font-weight:700;
    font-size:1rem;
    text-shadow:0 0 5px var(-color--shadow);
    transition:opacity .5s;
}

/* ============ BODY ============ */
.filter{
    color:#fff;
    text-transform:uppercase;
}

/* ============ FOOTER ============ */
.footer-title{
    color:var(--color-paper);
    font-size:.9rem;
    font-weight:800;
}
.footer__social a{
    font-size:1.5rem;
}
.footer__p{
    color:var(--color-paper);
    font-size:.85rem;
}