/* ============ GLOBAL ============ */
.link, .menu__item{
    text-transform:uppercase;
    font-weight:600;
    font-size:1.2rem;
    color:var(--color-primary);
    text-decoration:none;
    transition:opacity .5s;
    cursor:pointer;
}
.link:hover,
.menu__item:hover{
    opacity:0.7;
    transition:opacity .3s;
}
.menu__item{
    line-height:1.125rem;
}

/* ============ HEADER-INFO ============ */
.logo h1{
    font-size:2rem;
}
.dropdown__link{
    color:var(--color-primary);
    text-decoration:none;
    font-size:1.2rem;
    font-weight:600;
    transition:border .2s;
}

/* LOGIN AREA */



/* ============ BODY ============ */
.filter{
    color:#fff;
    text-transform:uppercase;
}

/* ============ FILTERS ============ */


/* ============ FOOTER ============ */
.footer-title{
    color:var(--color-paper);
    font-size:1.2rem;
    font-weight:800;
}
.footer__social a{
    font-size:1.5rem;
}
.footer__p{
    color:var(--color-paper);
    font-size:.95rem;
}

/* ============ CARDS ============ */
.product__name{
    font-size:0.875rem;
    line-height:1.125rem;
    font-weight:600;
    margin-top:.5rem;
    color:var(--color-paper);
}
.price-original{
    font-size:.75rem;
    line-height:1.375rem;
    font-weight:400;
    display:flex;
    align-items:center;
    height:.75rem;
    color:var(--color-disable);
    text-decoration:line-through;
}
.price-offer{
    display:flex;
    align-items:center;
    margin:.25rem 0;
    font-size:1.25rem;
    line-height:1.875rem;
    font-weight:700;
    height:1.25rem;
    color:var(--color-primary);
}
.price-declaration{
    display:flex;
    align-items:center;
    font-size:.75rem;
    line-height:1rem;
    font-weight:400;
    height:.75rem;
    color:var(--color-disable);
}


/* ============ LOGIN ============ */
.title_login{
    font-size:1.875rem;
    font-weight:700;
    line-height:1.875rem;
    color:var(--color-primary);
}